{% extends 'main.html'%}

{% block content%}
 <section>
    <img src="https://cdn.cloudflare.steamstatic.com/steam/clusters/frontpage/1fb46f7cf5614c19c766456a/page_bg_english.jpg" alt="">
</section>
<section>
    <div style="display: flex; align-items: center;width: max-content;flex-direction: row;margin-left: 10%;">
        {% for game in games %}
        <a href="{% url 'gamepage' game.id %}">
        <img src="{{game.header_image}}"  >
            <div style="height: 70 px ;width: 180px; display: flex;margin: 30px ;border-color: white; border-style: dashed; color: white;padding:5px 5px 5px 5px;">
                <h1>{{game.name}}</h1>
                <p>{{game.id}}</p>
                


            </div>
        </a>
        {% endfor %}
    </div>
</section>
        


{% endblock content %}