{% load static %}
<div class="container">

    <div class="slide">


        <div class="item"
            style="background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/782330/capsule_616x353.jpg?t=1661971606);">
            <div class="content">
                <div class="name">DOOM ETERNAL</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item"
            style="background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/1981790/capsule_616x353.jpg?t=1669844736);">
            <div class="content">
                <div class="name">WARHAMMER:DARKTIDE</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item"
            style="background-image: url(https://i.kym-cdn.com/entries/icons/original/000/040/815/cover2.jpg);">
            <div class="content">
                <div class="name">STARFIELD</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item"
            style="background-image: url(https://cdn.akamai.steamstatic.com/steam/apps/374320/capsule_616x353.jpg?t=1682651227);">
            <div class="content">
                <div class="name">dark souls 3</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
        <div class="item"
            style="background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/287700/capsule_616x353.jpg?t=1667801931);">
            <div class="content">
                <div class="name">metal gear v</div>
                <div class="des">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, eum!</div>
                <button>See More</button>
            </div>
        </div>
    </div>

    <div class="button">
        <button id="prev"  class="prev"><i class="fa-solid fa-arrow-left"></i></button>
        <button id="next" class="next"><i class="fa-solid fa-arrow-right"></i></button>
    </div>

</div>

<script src="{% static 'homepage/js/script.js' %}"></script>