{% extends 'baseWOnav.html'%}

{% block content%}
<section>

    {% if validlink %}

    <h3>Reset Your Password</h3>

    {% if form.errors %}
    <div role="alert">
        {% for key, value in form.errors.items %}
        <strong>{{ value }}</strong>
        {% endfor %}
        <button type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}


    <form method="POST" >
        {% csrf_token %}
        <div>
            <label for="id_new_password1">Password</label>
            <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"
                placeholder="Enter password" />
            <span>
            </span>
        </div>

        <div>
            <label for="id_new_password2">Password Confirmation</label>
            <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"
                placeholder="Confirm password" />
        </div>


        <button type="submit" id="reset" class="button">Reset Password</button>

        {% else %}

        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.

        {% endif %}

</section>


{% endblock content %}