:root {
  --background: #4169e1;
  --primary: #ffffff;
  --accent-color: #009ffd;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

div {
  background: rgba(34, 34, 34, 0.986);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.container {
  display: flex;
  padding-top: 2%;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgb(27, 27, 27);
}

.leaderboard {
  background: rgba(34, 34, 34, 0.986);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin-left: 4%;
  height: 888px;
  width: 30%;
  transition: 0.2s ease;
}

.leaderboard:hover {
  background: rgba(130, 131, 130, 0.356);
}

.feed {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  height: 88%;
  width: 50%;
  margin-left: 1%;
  word-wrap: break-word;
  box-shadow: rgba(95, 158, 160, 0);
}

.create,
.sort,
.post {
  height: 5em;
  width: 100%;
}

.create {
  display: flex;
  align-items: center;
}
.comments {
  color: white;
}
#cpost {
  transform: scale(1.7);
  margin-top: 11px;
}

.title {
  margin-left: 25px;
  height: 2.5em;
  width: 85%;
}

.title:active {
  border: 1px solid;
}

#spost {
  margin-right: -75px;
  margin-bottom: 10px;
}

.sort {
  margin-top: 15px;
  position: relative;
  display: flex;
  border-bottom: 1px solid white;
}

.post {
  height: 100%;
  margin-top: 15px;
  background-color: #00a0fd00;
  box-shadow: rgba(0, 0, 0, 0);
}

.message {
  background: rgba(44, 38, 38, 0.479);
  width: 80%;
  height: fit-content;
  margin: 15px;
  padding: 5px;
  color: white;
  overflow-wrap: break-word;
  border-bottom: 1px solid #00ffc8;
}

h1 {
  font-size: 140%;
  color: #ffffff;
  margin-left: 10%;
}

.search {
  background-size: 25px;
  border-radius: 16px;
  border: 1px solid;
  height: 2em;
  width: 5%;
  color: black;
  outline-color: rgba(255, 255, 255, 0.1);
  margin-left: 18px;
  font-size: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

.cta {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 25px;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta:hover {
  background-color: rgba(255, 255, 255, 0.11);
}

.highlight {
  background-color: yellow;
}

.trend {
  display: none;
}

@media (max-width: 960px) {
  .feed {
    position: absolute;
    margin-top: 5%;
    left: 0;
    width: 96%;
  }

  .leaderboard {
    scale: 0;
  }

  .trending {
    scale: 0;
  }
}

#submit-chat-message {
  height: 2.5rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 25px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 4%;
  transition: background-color 0.3s ease;
}

.message1 {
  display: flex;
  align-items: center;
  height: 5rem;
  padding: 5px;
  color: white;
  border-bottom: 1px solid rgb(52, 192, 71);
}

h3,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-left: 1%;
  width: 98%;
}

input {
  width: 50%;
  text-align: center;
  border-right: 1px solid #00ffc8;
}

#id_title {
  margin-left: 2%;
  width: 25%;
  height: 50%;
  border-radius: 25px;
}

#id_content {
  height: 50%;
  border-radius: 25px;
  margin-left: 2.5%;
}

h4 {
  color: #ffffff;
}

.comments {
  background: rgba(44, 38, 38, 0.479);
  width: 78%;
  height: fit-content;
  margin: 10px;
  margin-left: 4%;
  padding: 5px;
  color: white;
  overflow-wrap: break-word;
  border-bottom: 1px solid #00ffc8;
}

.commentipt {
  height: 50%;
  border-radius: 25px;
  margin-left: 2.5%;
}

.reply
{
  transform: scale(0);
}

.commentbtn {
  height: 2.5rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 25px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 4%;
  transition: background-color 0.3s ease;
}

.top {
  --offset: 50px; 
  position: sticky;
  bottom: 20px;      
  margin-right:10px; 
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  text-decoration: none;
  padding: 10px;
  color: #fff;
  background: #000;
  border-radius: 100px;
  white-space: nowrap;
}

.postCommentForm{
  transform: scale(0);
}

.visible{
  background: rgba(34, 34, 34, 0);
  transform: scale(1);
  margin-left: 4%;
  margin-top: 1.7%;
}

.postComment{
  background: rgba(34, 34, 34, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.btnreply{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  color: white
}

