<div>
<nav >
  <div class="nav-bar">
      <i class='bx bx-menu sidebarOpen' ></i>
      <span class="logo navLogo"><a href="#">SteamCopy</a></span>

      <div class="menu">
          <div class="logo-toggle">
              <span class="logo"><a href="#">SteamCopy</a></span>
              <i class='bx bx-x siderbarClose'></i>
          </div>

          <ul class="nav-links">
              <a href="#">Home</a>
              <a href="#">Latest Release</a>
              <a href="#">Game Calender</a>
              <a href="#">News</a>
              {% if request.user.is_authenticated == False %}
              {{request.user.is_authenticated}}
              <button class="button" id="form-open">Login</button>
              {% endif %}
          </ul>
      </div>

      <div class="darkLight-searchBox">
          <div class="dark-light">
              <i class='bx bx-moon moon'></i>
              <i class='bx bx-sun sun'></i>
          </div>

          <div class="searchBox">
             <div class="searchToggle">
              <i class='bx bx-x cancel'></i>
              <i class='bx bx-search search'></i>
             </div>

              <div class="search-field">
                  <input type="text" placeholder="Search...">
                  <i class='bx bx-search'></i>
              </div>
          </div>
      </div>
  </div>
</nav>
</div>

<section class="home">
    <div class="form_container">
      <i class="uil uil-times form_close"></i>

      <!-- Login From -->
      <div class="form login_form">
        <form action='.' method="POST">
          {% csrf_token %}
          <h2>Login</h2>
          <!-- <input type="hidden" value="login" name="formType" /> -->
          <div class="input_box">
            <!-- <input type="email" placeholder="Enter your email" name="email" required /> -->
            {{form1.username}}
            <i class="uil uil-envelope-alt email"></i>
          </div>
          <div class="input_box">
            <!-- <input type="password" placeholder="Enter your password" name="password" required /> -->
            {{form1.password}}
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide"></i>
          </div>

          <div class="option_field">
            <span class="checkbox">
              <!-- <input type="checkbox" id="check" /> -->
              {{form1.check}}
              <label for="check">Remember me</label>
              
            </span>
            <a href="#" class="forgot_pw">Forgot password?</a>
          </div>

          <button class="button">Login Now</button>

          <div class="login_signup">Don't have an account? <a href="#" id="signup">Signup</a></div>
        </form>
      </div>

      <!-- Signup From -->

      <div class="form signup_form">
        <form action='.' method="post">
          {% csrf_token %}
          <h2>Signup</h2>
          <!-- <input type="hidden" value="signup" name="formType" /> -->
          <div class="input_box">
            <!-- <input type="email" placeholder="Enter your email" required /> -->
            {{form2.username}}
            <i class="uil uil-envelope-alt email"></i>
          </div>
          <div class="input_box">
            <!-- <input type="password" placeholder="Create password" required /> -->
            {{form2.password1}}
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide"></i>
          </div>
          <div class="input_box">
            <!-- <input type="password" placeholder="Confirm password" required /> -->
            {{form2.password2}}
            <i class="uil uil-lock password"></i>
            <i class="uil uil-eye-slash pw_hide"></i>
          </div>

          <button class="button">Signup Now</button>

          <div class="login_signup">Already have an account? <a href="#" id="login">Login</a></div>
        </form>
      </div>
    </div>
  </section>
 
