<div>
<nav >
  <div class="nav-bar">
      <i class='bx bx-menu sidebarOpen' ></i>
      <span class="logo navLogo"><a href="#">GameWiki</a></span>

      <div class="menu">
          <div class="logo-toggle">
              <span class="logo"><a href="#">GameWiki</a></span>
              <i class='bx bx-x siderbarClose'></i>
          </div>

          <ul class="nav-links">
              <a href="#">Home</a>
              <a href="#">Latest Release</a>
              <a href="./admin/">Admin</a>
              {% if request.user.is_authenticated == False %}   
              <!-- {{request.user.is_authenticated}} -->
              <button class="button" id="form-open">Login</button>
              {% endif %}
              {% if request.user.is_authenticated %}
              <a href="./gamepage/">Game Page</a>
              <a href="./logout/" class="logout">
                <button class="button" id="logOut">logout</button>
              </a>
              {% endif %}


          </ul>
      </div>

      <div class="darkLight-searchBox">
          <div class="dark-light">
              <i class='bx bx-moon moon'></i>
              <i class='bx bx-sun sun'></i>
          </div>

          <div class="searchBox">
             <div class="searchToggle">
              <i class='bx bx-x cancel'></i>
              <i class='bx bx-search search'></i>
             </div>

              <div class="search-field">
                  <input type="text" placeholder="Search...">
                  <i class='bx bx-search'></i>
              </div>
          </div>
      </div>
  </div>
</nav>
</div>

{% include 'form.html' %}
 
