:root {
  --background: #d3d3d3;
  --primary: #ffffff;
  --accent-color: #009ffd;
  --sec: linear-gradient(315deg, #2a2a72 10%, #009ffd 100%);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  flex-wrap: nwrap;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: linear-gradient(to right top, #ef7eff, #af96ff, #69a6ff, #1daefc, #00b0e0);
  background-size: 400% 400%;
  animation: gradient 10s linear infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

div {
  border-radius: 15px;
}

.leaderboard {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px; /* Adjust this value as needed */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  align-items: center;
  justify-content: center;
  margin-left: 4%;
  height: 888px;
  width: 20%;
  text-align: center;
  transition: background-color 0.2s ease;
}

.leaderboard:hover{
  background-color: rgba(255, 255, 255, 0.5);
}


.feed {
  animation: gradient 15s ease infinite;
  margin-left: 4%;
  margin-right: 4%;
  height: 88%;
  width: 40%;
}

.create,
.sort,
.post {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px; /* Adjust this value as needed */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 5em;
  width: 100%;
}

.create {
  display: flex;
  align-items: center;
}

.circle {
  background: rgba(255, 255, 255, 0.30);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

#cpost {
  transform: scale(1.7);
  margin-left: 12px;
  margin-top: 11px;
}

.title {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px; /* Adjust this value as needed */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: 25px;
  border-radius: 20px;
  height: 2.5em;
  width: 85%;
}

.title:active {
  border: 1px solid;
}

#spost {
  margin-right: -75px;
  margin-bottom: 10px;
}

.sort {
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post {
  height: 39em;
  margin-top: 15px;
}

.trending {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px; /* Adjust this value as needed */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  margin-right: 4%;
  height: 888px;
  width: 20%;
  text-align: center;
  transition: background-color 0.2s ease;
}

.trending:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

h1 {
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: var(--accent-color);
  padding: 0;
}

.lead {
  font-family: Arial, Helvetica, sans-serif;
}

.search {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px; /* Adjust this value as needed */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: 25px;
  border-radius: 10px;
  height: 2.0em;
  width: 85%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  outline-color: rgba(255, 255, 255, 0.1);
  background: transparent;
  margin-left: 18px;
  font-size: 20px;
  text-align: center;
}
nav{
  margin-left: 150px;
}

.cta {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.cta {
  padding: 9px 25px;
  background: rgba(255, 255, 255, 0.0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(255, 255, 255, 0.11);
}

.highlight {
  background-color: yellow;
}